body {
    &.home {
        .entry {
            @apply m-0 bg-transparent shadow-none;

            .single-content {
                @apply flex flex-col gap-6;

                .wp-block-group {
                    @apply m-0;
                }
            }
        }
    }
}
