body {
    .entry {
        @apply mt-4;
    }
}

.wp-block-woocommerce-product-categories {
    @apply bg-white shadow-md;

    ul {
        @apply flex gap-2 p-0;
        padding: 0 !important;

        li {
            @apply m-0 flex flex-col items-center text-center p-4;
            margin: 0 !important;

            a {
                @apply flex flex-col items-center gap-2;
            }

            .wc-block-product-categories-list-item__image {
                @apply m-0 max-w-25;
            }
        }
    }
}

.wp-block-woocommerce-product-collection {
    @apply bg-white shadow-md p-4;

    ul {
        @apply m-0 p-0;
        padding: 0 !important;
    }
}

.wc-block-product {
    @apply border border-gray-300 p-2;
}

.woocommerce {
    ul.products {
        li.product {
            .entry-content-wrap {
                @apply m-0 p-4;
            }
        }
    }
}
